{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>NaoWeb</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        .btn-default {
            font-size: 40px;
        }

        .block {
            width: 66px;
            height: 71px;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div class="container">

            <div class="text-center">

                <h1 class="modal-header">NAO</h1>

                <img src="{% static 'img/test.gif' %}" alt="Camera" height="320" width="480">

                <br />
                <br />

                <div class="btn-top" role="group">
                    <button type="button" class="btn btn-default" id="button-up">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </button>
                </div>

                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="button-left">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                    </div>

                    <div class="btn-group block"></div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="button-right">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
                <div class="btn-top" role="group">
                    <button type="button" class="btn btn-default" id="button-down">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/qwest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>